<!DOCTYPE html>
<html>
<head>
  <title>CoffeeShopFinder</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<header>
		<h2>Welcome To Coffee Finder Pro!</h2>
		<p>Enter your city and state in the form below!</p>
	</header>

<%= yield %>
</body>
</html>
